.slider {
    display: flex;
    overflow: hidden;
    width: 600px;
    height: 293px;
    margin: auto;
    margin-top: 20px;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s;
    opacity: 0;
  }
  
  .slider img.active {
    opacity: 1;
  }

