.container{
    background-image: url("../assets/caiaque-ia.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px;
    margin-left: 2rem;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 80px;
    border-color: aqua;
    box-shadow: 20px 20px 10px rgba(55, 59, 59, 0.644);
    width: 84rem;
    height: 40rem;
}

.txt{
    text-align: center;
    font-family: Skranji;
    font-size: 1.5rem;
    color: rgb(207, 202, 202);
    background-color: rgb(84, 78, 141);
    width: 22rem;
    border-color: rgb(109, 109, 110);
    border-radius: 25px;
    opacity:0.8;
    margin-left: 2rem;
    margin-top: 19rem;
}

.txt span{
    font-family: Caveat;
    font-size: 4rem;
    color: blue;
    opacity: 1;
}

.txt h1{
    opacity: 1;
}


.image{
    width: 10rem;
    margin: 1rem;
    margin-left: 73rem;
    box-shadow: 10px 10px 10px rgba(215, 224, 224, 0.644);
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100vh;
        height: 20rem;
        border-radius: 15px 15px ;
    }

    .credito {
        margin-top: 1rem;
    }

    .link {
        margin: 1rem;
    }

    .image {
        width: 5rem;
    }
    .txt{
        text-align: center;
        font-family: Skranji;
        font-size: 1.5rem;
        color: rgb(207, 202, 202);
        background-color: rgb(84, 78, 141);
        width: 22rem;
        border-color: rgb(109, 109, 110);
        border-radius: 25px;
        opacity: 0.8;
        margin-left: 2rem;
        margin-top: 4rem;
    }
}
